* {
  margin: 0;
  padding: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
header {
  margin-bottom: 20px;
  background-color: rgb(74, 74, 74);
  height: 90px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 100px;
  box-shadow: 10px 0 15px black;
}
.header_title {
  color: white;
  font-weight: bold;
  font-size: 1.5rem;
}
body {
  height: 100vh;
  background-color: antiquewhite;
}
main {
  height: 85vh;
  margin: 0 10px;
}
.country {
  display: inline-block;
}
.country_input {
  height: 50px;
  width: 600px;
  font-size: 2rem;
  padding-left: 5px;
  border-radius: 6px;
}

#temp {
  height: 50px;

  font-size: 2rem;
  padding-left: 5px;
  border-radius: 6px;
}
.country_btn_submit {
  height: 50px;
  cursor: pointer;
  font-size: 2rem;
  padding-left: 5px;
  border-radius: 6px;
  padding: 3px 10px;
  transition: 0.2s;
}
.country_btn_submit:hover {
  background-color: rgb(14, 14, 14);
  color: rgb(220, 220, 220);
}
span {
  font-size: 1.5rem;
  margin: 5px;
}

.weather_item {
  display: grid;
  border: 2px solid grey;
  background-color: white;
  border-radius: 6px;
  transition: .2s;
}
.weather_item:hover{
  background-color: rgb(210, 210, 210);
cursor: pointer;
scale: 0.95;
}
.weather_day_list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 5px;
}
li {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  gap: 3px;
}

.active_day {
  height: 200px;
  grid-column: 1/4;

  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: space-evenly;
}
.active_day > .temp,
.active_day > .temp {
  grid-column: 2/3;
}
